html {
    font-size: 10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .5rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}


.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 5rem;
}

.sound {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

@media all and (max-width:1000px) {


    .keys {
        align-items: flex-start;
        align-content: center;
        flex-wrap: wrap;
    }



}


@media all and (max-width:500px) {
    .key {
        flex: 1 1 33.333%;
    }
}